.contents {
  & > * {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}

.toggle-area {
  display: flex;
  align-items: center;
}

.urls-area {
  textarea {
    width: 400px;
    height: 200px;
  }
}
