name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20.9.0']
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check build
        run: pnpm build
      - name: Check lint
        run: pnpm lint
      - name: Check style lint
        run: pnpm style-lint
      - name: Check format
        run: pnpm format:check
      - name: test
        run: pnpm test
