name: CI

on:
  push:
    branches: main
  pull_request:

permissions:
  contents: read

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['24.13.0']
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check build
        run: pnpm build
      - name: Check lint
        run: pnpm lint
      - name: Check style lint
        run: pnpm style-lint
      - name: Check format
        run: pnpm format:check
      - name: Check secrets
        run: pnpm secretlint
      - name: test
        run: pnpm test
